<!DOCTYPE html>
<html>
  <body>
    <ion-view title="Therapists">
      <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons>
      <ion-content>
        <ion-list><a ng-repeat="t in therapists" href="#/app/therapists/{{t.id}}" class="item item-thumbnail-left"><img src="{{t.photo}}">
            <h2>{{t.first}} {{t.last}}</h2>
            <p>{{t.email || 'no email on file'}}</p></a></ion-list>
      </ion-content>
    </ion-view>
  </body>
</html>