html
  body
    ion-view(title='Client')
      ion-content(has-header='true', padding='true')
        button.button.button-calm(ng-click='snap()') Take A Photo
        button.button.button-energized(ng-click='choose()') Pick A Photo
        .list.card
          .item.item-avatar
            img(src='{{client.photo}}')
            h2 {{client.first}} {{client.last}}
          .item.item-img
            img.profile-photo(src='{{client.photo}}')
          .item.item-body
            p Email: {{client.email || 'not set'}}
            p Phone: {{client.phone || 'not set'}}
            p Room: {{client.room}}
            p Admit Date: {{dateMoDaYr(client.admit_date)}}
            p Discharge Date: {{dateMoDaYr(client.discharge_date)}}
                
